.vercel/
node_modules/
*.log
.envgit commit -m "Initial commit with backend, frontend, and package-lock"
.next
node_modules
*.log
*.zip
backend/node_modules
frontend/node_modules
*.jpg
*.png
*.mp4
*.pdf
.env.local